html,
body {
  height: 100%;
}

.site_wrap {
  height: auto;
  min-height: 100%;
  position: relative;
}

.subpage-second_div {
  background-color: #fcd307;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.second_div_title,
.second_div_subtitle {
  margin-left: 200px;
}

.second_div_title {
  font-family: "Adamina", serif;
  font-weight: 400;
  font-size: 2.5em;
  display: block;
  padding-bottom: 5px;
}

.third_div_img {
  width: 100%;
  height: 400px;
}

.subpage-fourth_div {
  display: flex;
  justify-content: center;
}

.fourth_div_container {
  width: 900px;
  height: auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  margin: 0px 100px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.fourth_div_container_article {
  display: flex;
  flex-direction: column;
  width: 360px;
}
.fourth_div_container_article_p {
  font-family: "Noto Serif KR", serif;
  font-weight: 200;
  line-height: 1.5;
  font-size: 0.8em;
  text-align: justify;
}

.fourth_div_container_article_p::first-letter {
  font-size: 1.5em;
  font-weight: bold;
}

.article_ti {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.5em;
}

.article_subti {
  font-style: italic;
  font-family: "Do Hyeon", sans-serif;
  font-weight: bold;
  color: grey;
}

.fourth_div_container_form {
  display: flex;
  width: 440px;
  flex-direction: column;
}
.fourth_div_container_form_span {
  font-family: "Hahmlet", serif;
  font-weight: 300;
  font-size: 1.8em;
  padding-bottom: 2px;
  margin-top: 0px;
}
.fourth_div_container_form_border {
  border-bottom: 2px solid black;
  height: 30px;
}

#recruit_btn {
  position: relative;
  top: 30px;
  right: -300px;
  width: 110px;
  height: 40px;
  background-color: #fcd307;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}

#recruit_btn:hover {
  background-color: white;
  border: 1px solid black;
}
