.banner_container {
  position: fixed;
  z-index: var(--above-all-z-index);
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgba(14, 100, 220, 0.3);
  height: 50px;
  padding-top: 2px;
  background-color: #eff1f2;
}
.banner_container:hover {
  background-color: white;
}
.banner_contents:hover {
  border: 2px solid rgba(14, 100, 220, 0.8);
}
.banner_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 0 4px;
  border: 1px solid rgba(14, 100, 220, 0.8);
  border-radius: 15px;
  height: 25px;
}

#trello_logo {
  height: 35px;
  color: black;
  margin-left: 10px;
}
#notion_logo {
  height: 25px;
  margin-left: 5px;
}
#clonesite_logo {
  font-size: 25px;
  padding-left: 5px;
}
