*{
    margin: 0;
    padding: 0;
}

.first_div{
    background-image: url("https://postfiles.pstatic.net/MjAyMjA0MDhfMjUy/MDAxNjQ5MzQ5OTk3MzA3.LSZD4G0kD2w29J3sNdvl97_5yhguNvMPKDDC3vw_zRwg.Ux3B1cjYADdbV0Mvb2bDTpjedE8TmH88tLAw_Icelmcg.PNG.green980611/%EC%BD%94%EB%94%A9%EC%82%AC%EC%9E%90.png?type=w966");
    height: 600px;
    background-size: cover;
    background-position: center;
    font-family: Georgia, "Malgun Gothic", serif;
    display: flex;
}
.first_content{
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

.fc_top{
    position: relative;
    width: 600px;
    margin-bottom: 80px;
    font-size: 60px;
    color: white;
}

.fc_top p{
    line-height: 1;
}


.fc_bottom{
    width: 700px;
    font-size: 29px;
    color: white;
}

.fc_btn{
    margin-top: 30px;
}  

.fc_btn button{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid;
    color: white;
    width: 165px;
    margin: 0 40px 0 0;
    padding: 12px 0;
    cursor: pointer;
    transition: all 0.75s;
    
}
.fc_btn button:hover{
    color: #FACC0B;
}