
.first_div {
  background-image: url("https://postfiles.pstatic.net/MjAyMjA0MDhfMjUy/MDAxNjQ5MzQ5OTk3MzA3.LSZD4G0kD2w29J3sNdvl97_5yhguNvMPKDDC3vw_zRwg.Ux3B1cjYADdbV0Mvb2bDTpjedE8TmH88tLAw_Icelmcg.PNG.green980611/%EC%BD%94%EB%94%A9%EC%82%AC%EC%9E%90.png?type=w966");
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
}

.first_content {
  width: 1000px;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
}

.fc_top {
  font-family: 'Rubik Glitch', cursive;
  position: relative;
  width: 600px;
  margin-bottom: 40px;
  font-size: 60px;
  color: white;
}

.fc_top p span{
  font-size: 40px;
  font-family: 'Jua', sans-serif;
  display: inline-block;
  line-height: 110%;
}

.fc_top p img {
  width: 40px;
  height: 40px;
}

.fc_bottom{
  width: 800px;
  color: white;
  font-size: 30px;
  font-family: 'Grape Nuts', cursive;
  line-height: 120%;
}

.fc_bottom p{
  margin-left: 100px;
}

.fc_btn {
  margin-top: 30px;
}

.fc_btn button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
  color: white;
  width: 165px;
  margin: 0 40px 0 0;
  padding: 12px 0;
  cursor: pointer;
  transition: all 0.75s;
}
.fc_btn button:hover {
  color: #facc0b;
}
