footer {
  position: absolute;
  bottom: 0px;
  background-color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.site_footer {
  padding: 35px;
  font-family: "Noto Serif KR", serif;
  font-weight: 200;
  font-size: 0.8em;
  height: 70px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.site_footer_icons {
  font-size: medium;
  float: right;
}

.site_footer_icons ul li{
  display: inline-block;
  padding: 0px 3px;
}
.site_footer img{
  width: 15px;
  height: 15px;
}
